<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Tests" verbose="5" data-provider-thread-count="1" parallel="tests">
	<test name="authTests">
		<parameter name="" value=""></parameter>
		<classes>
			<class name="com.example.test.OneTest"></class>
		</classes>
	</test>
		<test name="createSite">
		<parameter name="" value=""></parameter>
		<classes>
			<class name="com.example.test.TwoTest"></class>
		</classes>
	</test>
	
	<!-- использование групп  
	<test name="Test1">
		<groups>
			<define name="include-group">
				<include name="include-test-one"></include>
				  <include name="include-test-two"></include>
			</define>
		</groups>
	<classes>
		    <class name="com.example.test.OneTest"/>
		    <class name="com.example.test.FourTest"/>
	</classes>
	
	--> 
	
	
	<!-- это самый простой вариант, просто перечисляются тесты
		<parameter name="path" value="/"/>
		
		
		
		
		
		<classes>
		    <class name="com.example.test.AppTest"/>
		
		 <class name="ru.st.selenium.CreateFilm"/>
		    <class name="ru.st.selenium.Remove"/>
		    <class name="ru.st.selenium.Logout"/>
		</classes>
	</test>  -->
</suite>